const workerWelcomeTemplate = `
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to GigPoint</title>
  </head>
  <body>
    <div style="text-align: right; font-weight: bold; font-size: 20px">
      GigPoint
    </div>
    <div style="padding: 20px">
      <h2>Welcome to GigPoint, {{fullname}}!</h2>
      <p>
        We’re thrilled to have you join our platform as a
        <strong>worker</strong>. GigPoint connects skilled individuals like you
        with real opportunities to earn, grow, and build a strong profile.
      </p>
      <p>Apply on Jobs that matches your skill and get earned</p>
      <p>
        Your journey to success starts now — let's build your future together 🚀
      </p>
    </div>
  </body>
</html>
`;
